 
:root {

    --header-height: 10vh;
    --footer-height: 20vh;

    --horizontal-line-height: 70px;

    --text-white: #ffffff;
    --text-black: #000000;
    --text-grey: #636363;
  }

/* estilos generales */

body{
    color: var(--text-white);
    background-color: var(--text-black);
    font-family: 'Space Mono', monospace;
    overflow-x: hidden;
}

header{
    height: var(--header-height);
}

footer{
    height: var(--footer-height);
}

h1{
    font-size: 1.6rem;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    all: unset;
}

ul{
    all: unset;
}

.z-index-1{
    z-index: -1;
}
.z-index2{
    z-index: 2;
}

.z-index3{
    z-index: 3;
}

.overflow-hidden{
    overflow: hidden;
}

.default:hover{
    cursor: default;
}

.pointer:hover{
    cursor: pointer;
}

/* estilos de fuentes */

.text-black{
    color: var(--text-black);
}

.text-white{
    color: var(--text-white);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.font-size-1{
    font-size: 1.7rem;
}

.font-size-2{
    font-size: 2.7rem;
}

.font-size-small-1{
    font-size: 0.7rem;
}

 /* estilos de position y display */
.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.sticky{
    position: sticky;
}

.inline-block{
    display: inline-block;
}

.hidden{
    display: none;
}

    /* estilos de absolute */

    .top-left-0{
        top: 0;
        left: 0;
    }

    .absolute-center{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

.flex{
    display: flex;
}

    /* estilos de flex */

    .align-center{
        align-items: center;
    }
    
    .justify-center{
        justify-content: center;
    }
    
    .flex-column{
        flex-direction: column;
    }

    .justify-between{
        justify-content: space-between;
    }

    .justify-evenly{
        justify-content: space-evenly;
    }

    .justify-around{
        justify-content: space-around;
    }

    .align-between{
        align-items: space-between;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

/* estilos de tamaño */

.height-100vh{
    height: 100vh;
}

.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.width-33{
    width: 33%;
}

.width-33-pc{
    width: 33%;
}

/* estilos de padding y margin */

.small-padding-1{
    padding: 0.5rem
}

.small-padding-lr-1{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.padding-1{
    padding: 3rem;
}

/* estilos de bordes */

.border-radius-1{
    border-radius: 0.5rem;
}

.border-radius-2{
    border-radius: 1.3rem;
}

.black-border-1{
    border-color: var(--text-black);
    border-style: solid;
    border-width: 3px;
}

 /* estilos de fondos */

.background-cover{
    background-size: cover;
}

.black-paper-background{
    background-image: url(../imagenes/fondos/fondo-papel-negro.jpg);
}
 
.white-paper-background{
    background-image: url(../imagenes/fondos/fondo-papel-blanco.jpg);
}

/* .recoveko1-background{
    background-image: url(../imagenes/galeria/editada1.jpg);
} */

.background-black{
    background-color: var(--text-black);
}

/* estilos de efectos */

.underline-animation::before{
    content: "";
    position: absolute;
    background-color: var(--text-white);
    width: 0;
    height: 2px;
    transition: all 0.2s ease-out;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.underline-animation:hover::before{
    width: 100%;
}

.hover-grey:hover{
    color: var(--text-grey);
}

.hover-zoom:hover{
    transform: scale(105%);
}

.hover-filter-brightness:hover{
    filter: brightness(80%);
}

.hover-zoom-out:hover{
    transform: scale(95%);
}

.bywhover:hover{
    color: var(--text-white);
}

.bywhover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--text-black);
    transition: all 0.3s ease-out;
    z-index: -1;
}

.bywhover:hover::before{
    width: 100%;
}

.horizontal-line-effect{
    height: var(--horizontal-line-height);
    width: 60%;
    top: calc(100vh - (var(--horizontal-line-height) / 2));
    left: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.6362920168067228) 0%, rgba(0,0,0,1) 100%);
    background-image: url(../imagenes/fondos/grid1.jpg);
    background-size: cover;
}

.horizontal-line-img{
    height: calc(var(--horizontal-line-height) / 1.5);
    margin-left: 20px;
    margin-right: 20px;
}

/* estilos para transiciones */
.all-0-3-easeout{
    transition: all 0.3s ease-out;
}

/* estilos para responsive */
.pc-hidden{
    display: none;
}

#menu-checkbox:checked ~ .nav-ul {
    left: 0 !important;
}



/* estilos de la hamburguesa */

.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    /* display: none; */
    position: absolute;
    left: 20px;
    z-index:500
  }
  
  #menu-checkbox{
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  #menu-checkbox:checked ~ label > svg {
    transform: rotate(-45deg);
  }
  
  #menu-checkbox:checked ~label > svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

@media(max-width:1100px){
    .height-mobile-auto{
        height: auto;
    }
}

@media(max-width: 710px){
    .width-33-pc{
        width: auto;
    }
    .pc-hidden{
        display: inherit;
    }
    .mobile-hidden{
        display: none;
    }
    .pc-justify-evenly{
        justify-content: space-evenly;
    }
    .nav-ul{
        display: flex;
        position: absolute;
        left: -100%;
        flex-direction: column;
        background-color: var(--text-black);
        height: 100vh;
        width: 100%;
    }
    .mobile-center{
        display: grid;
        place-items: center;
    }
}